.game {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: arial;
	padding: 50px;
	display: flex;
}

.game__left {
	flex: 0 0 auto;
}

.game__right {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.game__paragraph {
	/* in a flex column, vertical margins do not collapse! */
	margin-bottom: 10px;
	flex: 0 0 auto;
}

.game__paragraph:last-child {
	margin-bottom: 0;
}

.game__spacer {
	flex: 1 1 auto;
}
