.game {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: arial;
	padding: 50px;
	display: flex;
}

.game__left {
	flex: 0 0 auto;
}

.game__right {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.game__paragraph {
	/* in a flex column, vertical margins do not collapse! */
	margin-bottom: 10px;
	flex: 0 0 auto;
}

.game__paragraph:last-child {
	margin-bottom: 0;
}

.game__replay-out {
	background-color: rgba(189, 189, 189, .3);
	padding: .5rem;
	line-height: normal;
	word-break: break-all;
}

.game__button {
	border: 0;
	font-size: 1em; /* avoid shrinkage */
	font-family: inherit;
	padding: .5rem .75rem;
	background-color: rgb(16, 82, 225);
	color: white;
	cursor: pointer;
	line-height: 1rem;
}

.game__button:hover {
	background-color: rgb(5, 52, 185);
}

.game__button:active {
	background-color: red;
}

:focus {
	outline: 2px solid black;
}

.game__spacer {
	flex: 1 1 auto;
}
