.hatetris {
	font-family: arial;
	margin: 50px 0 0 50px;
}
.hatetris__left {
	float: left;
	margin: 0 50px 50px 0;
}
.hatetris__right {
	margin: 0 50px 50px 0;
}
.hatetris__paragraph {
	margin: 10px;
}
.hatetris__cell {
	width: 25px;
	height: 25px;
	color: white;
	background-color: black;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
.hatetris__cell--bar {
	border-top: 1px solid red;
}
.hatetris__cell--manual {
	cursor: pointer;
}
.hatetris__cell--landed {
	background-color: blue;
}
.hatetris__cell--live {
	background-color: red;
}
.hatetris__replay-out {
	word-break: break-all;
}
