.hatetris {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: arial;
	padding: 50px;
	display: flex;
}
.hatetris__left {
	flex: 0 0 auto;
}
.hatetris__right {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.hatetris__paragraph {
	/* in a flex column, vertical margins do not collapse! */
	margin-bottom: 10px;
	flex: 0 0 auto;
}
.hatetris__paragraph:last-child {
	margin-bottom: 0;
}
.hatetris__spacer {
	flex: 1 1 auto;
}
.hatetris__cell {
	width: 25px;
	height: 25px;
	color: white;
	background-color: black;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
.hatetris__cell--bar {
	border-top: 1px solid red;
}
.hatetris__cell--manual {
	cursor: pointer;
}
.hatetris__cell--landed {
	background-color: blue;
}
.hatetris__cell--live {
	background-color: red;
}
.hatetris__replay-out {
	word-break: break-all;
}
